h1{
    background: linear-gradient(to right,#0a3d91,#1e63c7);
    margin: 0px;
    height:50px;
    padding: 0px; 
    font: bold serif; 
    color: #fff; 
       
} 
h2{
    color: #1e63c7;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    margin: 2px;   
}
h3{
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    color: #333; 
    max-width: 900px; 
    margin: auto; 
}
.container{
    display: flex; 
    flex-direction: row;
    flex-flow: row wrap;
    column-gap: 22vh; 
    row-gap: 10vh;  
    justify-content: center;
    align-items: center; 
}
.item{
      height: 80px;
      width: 200px; 
      padding: 0 20px; 
      border: 1px solid #444; 
      text-align: center;
       
       }
       .card{
        width:40px;
        align-self: center;
        }

.order-1{
   border-top: 2px solid blue; 
   color: blue; 
      
      
}
.order-2{
   border-top: 2px solid yellow ; 
   color: yellow;
   display: flex;
      flex-direction: column;
      justify-content: flex-end; 
      align-items: flex-end; 
}
.order-3{
   border-top: 2px solid green; 
   color: green;
   display: flex;
      flex-direction: column;
      justify-content: flex-end; 
      align-items: flex-end; 
}
.order-4{
   border-top: 2px solid ; 
   color: rgb(37, 135, 220); 
   display: flex;
      flex-direction: column;
      justify-content: flex-end; 
      align-items: flex-end; 
} 
.bgc1{
    background-color: blue;
    cursor: pointer; 
   
    
    } 
    .order-1 > .bgc1{
        display: flex;
        flex-direction: column;
        row-gap: 2px;
        justify-content: center;
        align-items: flex-end;
    } 
.bgc2{
    background-color: yellow;
    cursor: pointer;
}
.bgc3{
    background-color: green;
    cursor: pointer;
}
.bgc4{
    background-color: rgb(37, 135, 220);
    cursor: pointer;
} 
